.c-banner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 70px;
  width: 100%;
  position: relative;
  height: 530px;
}
.c-banner__content {
  z-index: 200;
  width: 52%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -10px;
}
.c-banner__content .c-button {
  width: 180px;
  padding: 13px 35px;
}
.c-banner__title {
  color: var(--blur-green);
  font-size: var(--medium-size);
  font-weight: bold;
}
.c-banner__hint {
  margin-top: 2px;
  width: 340px;
  color: var(--black);
  font-size: var(--medium-size);
  font-weight: bold;
}
.c-banner__line-wrapper {
  display: flex;
  width: calc((100% - 1280px) / 2);
  align-items: center;
}
.c-banner__line {
  height: 3px;
  background: #00A191;
  width: calc(100% - 10px);
  margin-top: -48px;
}
.c-banner__slide {
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
}
.c-banner__mobile-button {
  display: none;
}

.c-banner-slick {
  position: relative;
  width: calc(100% - ((100% - 1280px) / 2) - 0.52 * 1280px);
  border: 2px solid var(--green);
  border-right: none;
}
.c-banner-slick__wrapper {
  position: relative;
  margin-top: -35px !important;
}
.c-banner-slick__slide {
  display: flex !important;
  width: 100%;
  justify-content: flex-end;
  margin-left: 20px;
}
.c-banner-slick__slide img {
  object-fit: cover;
  width: 100%;
  height: 520px;
}
.c-banner-slick__content {
  width: calc(0.52 * 1280px);
  display: flex;
  margin-top: 225px;
}
.c-banner-slick__text {
  width: 530px;
  display: none;
  font-weight: 300;
  font-size: var(--big-size);
  font-family: "Neuzeit Grotesk Light", sans-serif;
}
.c-banner-slick__text b {
  font-family: "Neuzeit Grotesk", sans-serif;
}
.c-banner-slick .slick-list {
  overflow: hidden;
}
.c-banner-slick .slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding-left: 20px;
  margin-top: 10px;
}
.c-banner-slick .slick-dots li {
  background-color: var(--blur-gray);
  margin: 5px;
}
.c-banner-slick .slick-dots li.slick-active {
  background-color: var(--green);
}
.c-banner-slick .slick-dots li:first-child {
  margin-left: 0;
}
.c-banner-slick .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 11px;
  height: 11px;
  padding: 3px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background-color: transparent;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .c-banner {
    height: 460px;
  }

  .c-banner-slick {
    width: calc(100% - ((100% - 1280px) / 2) - 0.48 * 1280px);
  }
  .c-banner-slick__slide {
    padding-left: 19px;
    margin-left: -1px;
  }
  .c-banner-slick__slide img {
    height: 455px;
  }
  .c-banner-slick__content {
    margin-top: 195px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .c-banner {
    height: 360px;
  }
  .c-banner__line-wrapper {
    width: 30px;
  }
  .c-banner__line {
    width: calc(100% - 5px);
  }
  .c-banner__content {
    height: 290px;
  }

  .c-banner-slick {
    width: 52%;
  }
  .c-banner-slick__slide {
    padding-left: 19px;
    margin-left: -1px;
  }
  .c-banner-slick__slide img {
    height: 350px;
  }
  .c-banner-slick__content {
    margin-top: 152px;
    width: calc(48% - 30px);
  }
  .c-banner-slick__text {
    width: 94%;
  }
}
@media (max-width: 768px) {
  .c-banner {
    margin-top: 25px;
    height: auto;
    flex-direction: column;
  }
  .c-banner__content {
    height: auto;
    width: 100%;
  }
  .c-banner__content .c-button {
    display: none;
  }
  .c-banner__hint {
    width: 100%;
  }
  .c-banner__slide {
    flex-direction: column-reverse;
    position: relative;
    margin-top: 40px;
  }
  .c-banner__line-wrapper {
    display: none;
  }
  .c-banner__mobile-button {
    display: block;
    margin-top: 20px;
  }
  .c-banner__mobile-button .c-button {
    width: 100%;
    padding: 12px 30px;
  }

  .c-banner-slick {
    width: calc(100% - 15px);
    margin-left: 13px;
  }
  .c-banner-slick__wrapper {
    margin-top: -20px !important;
  }
  .c-banner-slick__slide {
    padding-left: 11px;
    margin-left: -1px;
  }
  .c-banner-slick__text {
    width: 100%;
  }
  .c-banner-slick__content {
    width: calc(100% - 50px);
    margin: auto;
    margin-top: 20px;
  }
  .c-banner-slick .slick-dots {
    margin-top: 5px;
    margin-bottom: 3px;
    padding-left: 10px;
  }
  .c-banner-slick .slick-dots li {
    margin: 3px;
  }
  .c-banner-slick .slick-dots li button {
    width: 6px;
    height: 6px;
  }
}
@media (max-width: 414px) {
  .c-banner-slick__slide img {
    height: 250px;
  }
}