.c-champion-detail {
  width: 100%;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;

  &__item {
    display: flex;
    flex-direction: column;
    width: 190px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    width: calc(100% - 230px);
    padding-top: 25px;
    color: #666666;
  }
}

.c-champion-detail-item {
  display: flex;
  flex-direction: column;

  &__image-wrapper {
    display: flex;
    position: relative;
  }

  &__image {
    position: absolute;
    border-radius: 2px;
    z-index: 20;
    width: 175px;
    height: 180px;
    object-fit: cover;
    transition: all 0.5s ease;

    &--branch {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 172px;
      width: 172px;
      border-radius: 5px;
      border: 3px solid var(--green);
      background: var(--white);

      img {
        width: 80%;
        object-fit: cover;
      }
    }
  }

  &__image-layer {
    z-index: 10;
    margin-top: 40px;
    margin-left: 40px;
    width: 150px;
    height: 160px;
    background-color: #003C36;
    right: 0;
    bottom: -13px;
    border-radius: 2px;

    &--branch {
      width: 160px;
      margin-top: 30px;
      margin-left: 30px;
      background: var(--green);
    }
  }

  &__name {
    font-weight: bold;
    color: var(--green);
    margin-top: 20px;
  }

  &__description {
    margin-top: 5px;
    font-size: var(--small-size);
    color: #666666;
  }

  &__position {
    margin-top: 5px;
    font-size: var(--small-size);
    font-weight: bold;
    color: #666666;
  }
}