.c-gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.c-gallery__wrapper {
  width: 100%;
  display: flex;
  flex-flow: wrap row;
}
.c-gallery__wrapper img {
  width: 320px;
  height: 275px;
  object-fit: cover;
}
.c-gallery__container {
  display: flex;
  flex-direction: column;
}
.c-gallery__title {
  font-weight: bold;
  font-size: var(--font-xxl);
  text-align: center;
  font-family: "Neuzeit Grotesk", sans-serif;
  margin-bottom: 35px;
}
.c-gallery__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.c-gallery__button .c-button {
  font-size: var(--button-medium-size);
  padding: 15px 25px;
}

@media (max-width: 1280px) {
  .c-gallery__container {
    width: 100%;
    padding: 0;
  }
  .c-gallery__wrapper img {
    width: 25%;
    height: 200px;
    object-fit: cover;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .c-gallery__wrapper img {
    width: 50%;
    height: 220px;
    object-fit: cover;
  }
}
@media (max-width: 767px) {
  .c-gallery__container {
    width: 100%;
    padding: 0;
  }
  .c-gallery__wrapper img {
    width: 50%;
    height: 170px;
    object-fit: cover;
  }
  .c-gallery__button .c-button {
    width: 100%;
    padding: 13px 25px 12px 25px;
  }
}
@media (max-width: 320px) {
  .c-gallery__wrapper img {
    width: 50%;
    height: 140px;
    object-fit: cover;
  }
}