@font-face {
  font-family: "Neuzeit Grotesk";
  src: url("../fonts/Neuzeit Grotesk Regular.otf") format("opentype");
}
body {
  color: var(--black);
  font-size: var(--base-size);
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}
body.no-scroll {
  overflow: hidden;
}

.c-container {
  width: 1280px;
  margin: auto;
  display: flex;
}
.c-container--small {
  width: 1024px;
}
.c-container--column {
  flex-direction: column;
}
.c-container--align-center {
  align-items: center;
}
.c-container--justify-center {
  justify-content: center;
}

.c-button {
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 6px 18px 8px 18px;
  font-size: var(--base-font);
  background: transparent linear-gradient(251deg, #7BBB43 0%, #00A191 100%) 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 4px #14695E4D;
  font-family: "Neuzeit Grotesk", sans-serif;
  transition: all 0.4s ease-in-out;
}
.c-button:hover {
  background-image: linear-gradient(to right, #7BBB43 0%, #00A191 100%);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.c-button--bold {
  font-weight: bold;
}
.c-button--big {
  font-size: var(--button-big-size);
  padding: 9px 25px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .c-container {
    width: calc(100% - 60px);
    padding: 0 30px;
  }
  .c-container--small {
    width: 880px;
  }
}
@media (max-width: 767px) {
  .c-container {
    width: calc(100% - 30px);
    padding: 0 15px;
  }
}