@import "./variable.css";
body {
  margin: 0;
  color: var(--black);
  font-size: var(--base--size);
  font-family: "Source Sans Pro", sans-serif;
}

.c-container {
  width: 1140px;
  margin: auto;
}

.c-button {
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 7px 15px;
  font-size: var(--base-size);
  background: transparent linear-gradient(251deg, #7BBB43 0%, #00A191 100%) 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 4px #14695E4D;
}

@media (max-width: 768px) {
  .c-container {
    width: calc(100% - 30px);
    padding: 0 15px;
  }
}