.c-list-filter {
  margin-top: 30px;
  width: 100%;
  display: flex;
}
.c-list-filter__item {
  margin: 0 6px;
  padding: 6px 18px;
  border-radius: 4px;
  color: #959595;
  cursor: pointer;
}
.c-list-filter__item:first-child {
  margin-left: 0;
}
.c-list-filter__item:hover, .c-list-filter__item--active {
  background: #00A19112 0% 0% no-repeat padding-box;
  color: var(--green);
  font-weight: bold;
}

.c-list-dots {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.c-list-dots__item {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  background: var(--green);
}

.c-list {
  width: 100%;
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
  margin: 20px 0;
}
.c-list__item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 190px;
  margin-top: 30px;
  margin-right: 18px;
}
.c-list__item:nth-child(5n) {
  margin-right: 0;
}
.c-list__item--margin-top {
  margin-top: 5px;
}
.c-list__image-wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
}
.c-list__image-wrapper:hover .c-list__image {
  top: 5px;
  left: 5px;
}
.c-list__image-wrapper:hover .c-list__arrow {
  right: 20px;
}
.c-list__image {
  position: absolute;
  border-radius: 2px;
  z-index: 20;
  width: 175px;
  height: 185px;
  object-fit: cover;
  transition: all 0.5s ease;
}
.c-list__image--branch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 172px;
  width: 172px;
  border-radius: 5px;
  border: 3px solid var(--green);
  background: var(--white);
}
.c-list__image--branch img {
  width: 80%;
  object-fit: cover;
}
.c-list__image-layer {
  z-index: 10;
  margin-top: 40px;
  margin-left: 40px;
  width: 150px;
  height: 160px;
  background-color: #003C36;
  right: 0;
  bottom: -13px;
  border-radius: 2px;
}
.c-list__image-layer--branch {
  margin-top: 32px;
  background: var(--green);
}
.c-list__item-name {
  font-weight: bold;
  color: var(--green);
  margin-top: 20px;
}
.c-list__item-name--branch {
  width: 80%;
  margin-top: 15px;
}
.c-list__item-description {
  margin-top: 5px;
  font-size: var(--small-size);
  color: #666666;
}
.c-list__item-position {
  margin-top: 5px;
  font-size: var(--small-size);
  font-weight: bold;
  color: #666666;
}
.c-list__item-position--black {
  color: var(--black);
}
.c-list__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: var(--green);
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 30;
  bottom: 20px;
  right: -40px;
  transition: all 0.3s ease;
}
.c-list__arrow img {
  margin-left: 2px;
  margin-bottom: 2px;
  object-fit: contain;
  width: 15px;
  height: 15px;
}