.c-list-filter {
  margin-top: 30px;
  width: 100%;
  display: flex;

  &__item {
    margin: 0 6px;
    padding: 6px 18px;
    border-radius: 4px;
    color: #959595;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }

    &:hover,
    &--active {
      background: #00A19112 0% 0% no-repeat padding-box;
      color: var(--green);
      font-weight: bold;
    }
  }
}

.c-list-dots {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  &__item {
    width: 8px;
    height: 8px;
    margin: 0 5px;
    background: var(--green);
  }
}

.c-list {
  width: 100%;
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
  margin: 20px 0;

  &__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 190px;
    margin-top: 30px;
    margin-right: 18px;

    &:nth-child(5n) {
      margin-right: 0
    }

    &--margin-top {
      margin-top: 5px;
    }
  }

  &__image-wrapper {
    display: flex;
    position: relative;
    overflow: hidden;


    &:hover {
      .c-list__image {
        top: 5px;
        left: 5px;
      }

      .c-list__arrow {
        right: 20px;
      }
    }
  }

  &__image {
    position: absolute;
    border-radius: 2px;
    z-index: 20;
    width: 175px;
    height: 185px;
    object-fit: cover;
    transition: all 0.5s ease;
  }

  &__image-layer {
    z-index: 10;
    margin-top: 40px;
    margin-left: 40px;
    width: 150px;
    height: 160px;
    background-color: #003C36;
    right: 0;
    bottom: -13px;
    border-radius: 2px;
  }

  &__item-name {
    font-weight: bold;
    color: var(--green);
    margin-top: 20px;
  }

  &__item-description {
    margin-top: 5px;
    font-size: var(--small-size);
    color: #666666;
  }

  &__item-position {
    margin-top: 5px;
    font-size: var(--small-size);
    font-weight: bold;
    color: #666666;

    &--black {
      color: var(--black);
    }
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--green);
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 30;
    bottom: 20px;
    right: -40px;
    transition: all 0.3s ease;

    img {
      margin-left: 2px;
      margin-bottom: 2px;
      object-fit: contain;
      width: 15px;
      height: 15px;
    }
  }

}