.c-mission {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-weight: bold;
    font-size: var(--font-xxl);
    text-align: center;
    font-family: 'Neuzeit Grotesk', sans-serif;
  }

  &__content {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
  }

  &__paragraph {
    width: 250px;
    display: flex;
    font-family: 'Neuzeit Grotesk', sans-serif;
  }

  &__icon {
    width: 9px;
    height: 9px;
    margin-top: 5px;
    margin-right: 5px;
    background: var(--green);
    flex-flow: wrap row;
  }

  &__text {
    width: calc(100% - 14px);
    font-size: var(--medium-text-size);
  }
}

@media(max-width: 768px) {
  .c-mission {
    margin-top: 0;

    &__content {
      margin-top: 30px;
    }

    &__paragraph {
      width: 100%;
      margin-top: 15px;
    }
  }
}