.c-mission {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-mission__title {
  font-weight: bold;
  font-size: var(--font-xxl);
  text-align: center;
  font-family: "Neuzeit Grotesk", sans-serif;
}
.c-mission__content {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
}
.c-mission__paragraph {
  width: 290px;
  display: flex;
  font-family: "Neuzeit Grotesk", sans-serif;
}
.c-mission__icon {
  width: 11px;
  height: 11px;
  margin-top: 4px;
  margin-right: 8px;
  background: var(--green);
  flex-flow: wrap row;
}
.c-mission__text {
  width: calc(100% - 14px);
  font-size: var(--button-medium-size);
}

@media (min-width: 769px) and (max-width: 1024px) {
  .c-mission__paragraph {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .c-mission {
    margin-top: 0;
  }
  .c-mission__icon {
    margin-right: 7px;
  }
  .c-mission__content {
    margin-top: 30px;
  }
  .c-mission__paragraph {
    width: 100%;
    margin-top: 20px;
  }
}