.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 23, 21, 0.9);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  justify-content: center;
  align-items: center;
}

/* Modal Content/Box */
.modal-content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #fefefe;
  border: 1px solid #888;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 3px 3px 10px #1010104D;
  border-radius: 5px;
  position: absolute;
}

.modal-close {
  position: absolute;
  color: var(--green);
  right: 15px;
  top: 7px;
  font-size: 25px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: var(--green);
  text-decoration: none;
  cursor: pointer;
}