.c-typography {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.c-typography__title {
  margin-top: 40px;
  font-size: 45px;
  color: var(--green);
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "Neuzeit Grotesk", sans-serif;
}
.c-typography__title--small {
  font-size: var(--font-xxl);
}
.c-typography__image {
  margin: 20px 0;
  width: 100%;
  height: 420px;
  object-fit: cover;
}
.c-typography__paragraph {
  margin-top: 15px;
}
.c-typography__paragraph--gray {
  color: #666666;
}
.c-typography__paragraph--margin-top {
  margin-top: 20px;
}
.c-typography__paragraph--bold {
  font-weight: bold;
}
.c-typography__list-paragraph-wrapper {
  width: 100%;
  display: flex;
  flex-flow: wrap row;
  margin: 15px 0;
}
.c-typography__list-paragraph {
  width: 230px;
  display: flex;
  margin-right: 34px;
  margin-top: 10px;
}
.c-typography__list-paragraph:nth-child(4n) {
  margin-right: 0;
}
.c-typography__list-icon {
  width: 9px;
  height: 9px;
  margin-top: 5px;
  margin-right: 5px;
  background: var(--green);
  flex-flow: wrap row;
}
.c-typography__list-text {
  width: calc(100% - 14px);
}
.c-typography__list-text--small {
  font-size: var(--small-size);
}
.c-typography__list-text--bold {
  font-weight: bold;
}

@media (max-width: 1024px) {
  .c-typography__list-paragraph-wrapper {
    justify-content: space-between;
  }
  .c-typography__list-paragraph {
    margin-right: 5px;
  }
}
@media (max-width: 768px) {
  .c-typography__title {
    margin-top: 20px;
    font-size: 28px;
  }
  .c-typography__image {
    margin: 0;
    height: auto;
  }
  .c-typography__list-paragraph {
    margin-top: 15px;
    margin-right: 5px;
  }
}
@media (max-width: 375px) {
  .c-typography__title {
    font-size: 25px;
  }
}