.c-typography {
  display: flex;
  width: 100%;
  flex-direction: column;

  &__title {
    margin-top: 40px;
    font-size: 45px;
    color: var(--green);
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'Neuzeit Grotesk', sans-serif;
  }

  &__image {
    margin: 20px 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  &__paragraph {
    margin-top: 13px;

    &--margin-top {
      margin-top: 20px;
    }
  }

  &__list-paragraph-wrapper {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    margin: 15px 0;
  }

  &__list-paragraph {
    width: 230px;
    display: flex;
    margin-right: 34px;

    &:nth-child(4n) {
      margin-right: 0;
    };
  }

  &__list-icon {
    width: 9px;
    height: 9px;
    margin-top: 5px;
    margin-right: 5px;
    background: var(--green);
    flex-flow: wrap row;
  }

  &__list-text {
    width: calc(100% - 14px);

    &--small {
      font-size: var(--small-size);
    }

    &--bold {
      font-weight: bold;
    }
  }
}