:root {
  --black: #463E37;
  --green: #00A191;
  --gray: #959595;
  --blur-green: #7BBB43;
  --dark-green: #14695E;
  --dark-blue: #08415C;
  --blur-gray: #F3F3F3;
  --white: #fff;
  --font-xxl: 36px;
  --big-size: 30px;
  --medium-size: 22px;
  --base-size: 16px;
  --small-size: 14px;
  --medium-text-size: 18px;
  --button-medium-size: 20px;
  --button-big-size: 24px;
}

@media (min-width: 769px)  and (max-width: 1024px){
  :root {
    --base-size: 14px;
    --small-size: 13px;
    --button-medium-size: 18px;
    --button-big-size: 20px;
    --medium-size: 18px;
    --big-size: 20px;
    --font-xxl: 26px;
  }
}

@media (max-width: 768px) {
  :root {
    --base-size: 14px;
    --small-size: 13px;
    --button-medium-size: 18px;
    --button-big-size: 20px;
    --medium-size: 18px;
    --big-size: 20px;
    --font-xxl: 26px;
  }
}